Flask==3.0.3
Werkzeug==3.0.03
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-instrumentation-flask==0.45b0
opentelemetry-instrumentation-requests==0.45b0
prometheus-flask-exporter==0.23.0
requests==2.31.0
