---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - git:
      repoURL: https://github.com/vtatarin/lgtm.git
      revision: argocd/init
      directories:
      - path: argocd/apps/*
  template:
    metadata:
      name: '{{.path.basename}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/vtatarin/lgtm.git
        targetRevision: argocd/init
        path: '{{.path.path}}'
      destination:
        name: in-cluster
        namespace: '{{.path.basename}}'
      syncPolicy:
        automated: {}
        syncOptions:
        - CreateNamespace=true
        - Delete=false
